body {
  margin: 0;
  overflow: hidden;
  background: #82ccdd;
}

a {
  text-decoration: none;
}

.row {
  display:flex;
}

.box {
  position: relative;
}

.box:not(.center) {
  pointer-events: none;
}

.top, .left, .right {
  position: absolute;
  z-index: 0;
  height: 52%;
  width: 50%;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #82ccdd; 
  box-shadow: 0px 0px 3px 1px #82ccdd;
  z-index: 1;
  transform: rotate(45deg);
  left: 14.5%;
  top: -6.5%;
  height: 71%;
  width: 71%;
  transition: background .2s, box-shadow .2s;
}

.top p {
  position: relative;
  transform: rotate(-45deg) translateY(0%);
  pointer-events: none;
  transition: transform .2s;
}

.left {
  background: #3c6382;
  box-shadow: 0px 0px 3px 1px #3c6382;
  transform: skewY(45deg);
  top: 54%;
  left: 0;
}

.right {
  background: #60a3bc;
  box-shadow: 0px 0px 3px 1px #60a3bc;
  transform: skewY(-45deg);
  top: 54%;
  right: 0;
}

.center:hover .top {
  background: #b7e4ef;
}

.center:hover .top p, .center.active .top p {
  transform: rotate(-45deg) translateY(-20%);
}

.center.active .top {
  background: #dff9ff;
  box-shadow: 0px 0px 3px 1px #dff9ff;
}
